<form>
    <label>Youtube Link:
        {{input id="videoID" type="text" placeholder="link" value=youtubeLink}}
    </label>
    <button {{action 'play' youtubeLink}}>Play</button>
    
</form>

{{ember-youtube ytid=youtubeLink autoplay=true}}





