<h2 id="title">Welcome to Slack-Radio</h2>
{{input id="playlistID" class="input-playlist" type="text" placeholder="Playlist name" value=playlistId}}
<button {{action "getPlayList" playlistId}}>Go</button>

{{outlet}}
