<h2 id="title">Welcome to Slack-Radio</h2>
<form {{action "submit" on="submit"}}>
            {{input type="text" value=playlist required="true"}}
            <p>
              <button class="uk-button uk-button-primary uk-button-large" type="submit">enter</button>
            </p>
          </form>